/*
It makes the Header, Body, Footer in place!
Body fills the remaining space.
Based on:
https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space
*/
html, body {
    height: 100%;
    margin: 0;
}

body{
    background: red;
}
.boxBody {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.boxBody .rowBody {
    /*border: 1px dotted grey; /* dotted to be removed*/
}

.boxBody .rowBody.headerBody {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
}

.boxBody .rowBody.contentBody {
    flex: 1 1 auto;
    background: ghostwhite;
}

.boxBody .rowBody.footerBody {
    flex: 0 1 auto;
}
/*------------------------------------*/

#imageLogo{
    width: 120px;
}

/* Creates a small space between nav-bar and body */
.boxBody .rowBody.contentBody .container-fluid {
    margin-top: 10px;
}

.card-sizes{
    width: 180px;
    height: 200px;
}


.iconHolder{
    position: relative;
    /*background-image: url("../img/notFoundIcon.png");*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
}
/* Not Working*/
/*
.linkName{
    text-decoration:none;
}
*/