/*
It makes the Header, Body, Footer in place!
Body fills the remaining space.
Based on:
https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space
*/
html, body {
  height: 100%;
  margin: 0;
}

body{
  background: red;
}
.boxBody {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.boxBody .rowBody {
  /*border: 1px dotted grey; /* dotted to be removed*/
}

.boxBody .rowBody.headerBody {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.boxBody .rowBody.contentBody {
  flex: 1 1 auto;
  background: ghostwhite;
}

.boxBody .rowBody.footerBody {
  flex: 0 1 auto;
}
/*------------------------------------*/

#imageLogo{
  width: 120px;
}

/*Removes underline on links
!!Not working yet!!

.collapseMenuBar{
  text-decoration:none;
}
*/

#progressBar{
  width: 100%;
}

.boxBody .rowBody.contentBody .container-fluid {
  margin-top: 10px;
}

#detailsDiv{
  height: 100%;
}

#closeDetailsButton{
  float: right;
}

#wrapperCollapse_runningVAssets,
#wrapperCollapse_notRunningVAssetst,
#wrapperCollapse_otherContainers{
  max-height: 100vh;
  overflow: auto;
}
/*
#runningVAssets, #notRunningVAssets, #otherContainers{
  max-height: 100vh;
  overflow: auto;
}
*/

/*All buttons in table*/
table tbody tr td button{
  width: 100%;
}

/*Style iframe of app navigation in details view*/
#app_iframe{
  border:none;
  width: 100%;
  overflow: hidden;
}

#logWindow{
  max-height: 800px;
}

