{% set title = 'ESP client config' %}
{% extends '_layout.njk' %}

{% block content %}
<h1>Configuration interface</h1>

<h3>Buttons:</h3>
<form action="">
  <!--  URL: <input id="webdavUrl" value="{{ webdavUrl }}"><br>
    User: <input id="webdavUser" value="{{ webdavUser }}"><br>
    Password: <input id="webdavPassword" value="{{ webdavPassword }}"><br><br>

    <a href="#" class="myButton" onClick="postConfig({webdavUrl:document.getElementById('webdavUrl').value,webdavUser:document.getElementById('webdavUser').value,webdavPassword:document.getElementById('webdavPassword').value})">Update</a><br>
    -->
</form>


{% endblock %}
