<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
<div id="content"></div>
<script>
    /**
     * Test harness to find out the best method for dynamically loading a
     * html page into your app.
     */
    var test_times  = {};
    var test_page   = 'testpage.htm';
    var content_div = document.getElementById('content');

    // TEST 1 = use jQuery to load in testpage.htm and time it.

     function test_() {
         var start = new Date().getTime();
         $(content_div).load(test_page, function() {
            alert(new Date().getTime() - start);
         });
     }

     // 1044


    // TEST 2 = use <object> to load in testpage.htm and time it.

     function test_() {
         start = new Date().getTime();
         content_div.innerHTML = '<object type="text/html" data="' + test_page +
            '" onload="alert(new Date().getTime() - start)"></object>'
     }

     //1579


    // TEST 3 = use httpObject to load in testpage.htm and time it.
    function test_() {
        var xmlHttp = new XMLHttpRequest();

        xmlHttp.onreadystatechange = function() {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                content_div.innerHTML = xmlHttp.responseText;
                //alert(new Date().getTime() - start);
            }
        };

        start = new Date().getTime();

        xmlHttp.open("GET", test_page, true); // true for asynchronous
        xmlHttp.send(null);

        // 1039
    }

    // Main - run tests
    test_();
</script>
</body>
</html>