<!DOCTYPE>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./main.css">

    <script src="command.js"></script>
</head>
<body>
<div class="header"></div>
<div class="contents">
{% block content %}
{% endblock %}
</div>
</body>
</html>
